#################################################################
#								#
# kiveukoi - Application Android				#
# Alexis, Benjamin, Edouard, Matthieu, Ronan			#
#								#
#################################################################
#
# Fichiers ignorés par git :
#
README.md
